<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>


    {% block title -%}
    {% if title %}
    <title>Фласк - {{title}}</title>
    {% elif title == 'PI' %}
    <title>Фласк - {{title}} </title>
    {% else %}
    <title>Фласк </title>
    {% endif %}
    {% endblock %}
</head>
<body>
{% block content -%}
{%- block mainmenu -%}
<ul class="mainmenu">
    {% for m in menu %}
    <li><a href="{{url_for(m.url)}}"> {{m.name}}</a></li>
    {% endfor %}
</ul>
{% endblock mainmenu -%}
<div class="clear"></div>
<div class="content"></div>

{% endblock -%}
</body>
</html>