{% extends "base.html" %}
{% block content %}
{{ super() }}
<h1> Меня зовут Егор Кротов Сергеевич</h1>
<img src="https://sun9-27.userapi.com/impg/2AXjZIkhtJC7rYfZ2sHgnQggZsRNP8o3riXUgQ/xzOuA94YldU.jpg?size=604x340&quality=95&sign=e9ef14b0ef92e88fabcd640edc83f833&type=album">
<h1>Мой проходной балл 4,6 </h1>
<table border="2" position="relative" top="100" left="150">
    <tr>
        <th>Предмет</th>
        <th>Оценка</th>
    </tr>
    <tr>
        <th>Математика</th>
        <th>4</th>
    </tr>
</table>
{% endblock %}