html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}


ul.mainmenu {
	list-style: none;
	background: #3F4137;
	height: 60px;
	margin: 0;
	padding: 0;
	color: #fdc073;
	font-size: 20px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 50px;
}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #fdc073;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #FDA83D;
}

.test li{
list-style-type: circle;
    font-size:24px;
    color: #3F4137;
    font-family: 'Roboto';
}
.clear {clear: both;}

div.content {
	margin: 10px;
}


.form-contact label {
	display: inline-block;
	min-width: 80px;
}
.form-contact p {margin: 10px 0 10px 0;}
.form-contact input[type=submit], textarea {
	font-size: 16px;
}
