<!DOCTYPE html>
<html>
<head>
    {% block title -%}
        {% if title %}
            <title>Про Flask - {{ title }}</title>
        {% else %}
            <title>Про Flask</title>
        {% endif %}
    {% endblock %}
</head>
<body>
{% block content -%}
    {%- block mainmenu -%}
        <ul>
            {% for p in menu %}
                <li><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
        </ul>
    {% endblock mainmenu -%}
    <hr>
    {% if title -%}
        <h1>{{ title }}</h1>
    {% else -%}
        <h1>Про Flask</h1>
    {% endif -%}

{% endblock -%}

</body>
</html>